<!DOCTYPE html>
<html>

<head>
    <title>Fancy To-Do List</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
</head>

<body>